body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins, Arial, Helvetica, sans-serif;
}

/* definding the primary colors  */

:root{
	--color-1: #2E6F40;
	--color-2: #EFBF04;
	--color-3: #000;
	--color-4: #fff;
}

.login-page{
	margin-top: 120px;
}
.login-section{
	border-left: 3px solid #2E6F40;
	padding-left: 15px;
	
}
.logo{
	border-left: 3px solid #2E6F40;
	padding-left: 15px;
	
}

.login-section h2{
	text-align: center;
	font-weight: 700;
}
.login-section input{
	border-radius: 25px;
	border: 2px solid#2E6F40;
}

.login-section .btn a{
	background-color: #2E6F40;
	font-weight: 600;
	border-radius: 25px;
	padding: 12px 44px;
	color: #fff;
	left: 0;
	cursor: pointer;
}

.login-section .btn a:hover{
	color: #2E6F40;
	background-color: #fff;
	border: 2px solid #2E6F40;
	text-decoration: none;
}

.login-section a{
	font-size: small;
	font-weight: 700;
	text-decoration: none;
	
}
.text{
	text-align: center;
	font-weight: 600;
	margin-top: -12px;
}
.text p{
	margin: 0;
	padding: 0;
}
.login-section h2{
	color: #2E6F40;
}

.logo-section .text a{
	text-decoration: none;
	color: #2E6F40;
}

.text a:hover{
	color: #2E6F40;
	text-decoration: underline;
}

.login-section a{
	color: #2E6F40;
}

.login-section a:hover{
	color: #2E6F40;
	text-decoration: underline;
}
/* Media query for smaller screens */
@media screen and (max-width: 768px){
	.login-page{
		margin-top: 50px;
	}
	.login-section{
		border-left: none;
		padding-left: 0px;
	}
	.logo{
		border-left: none;
		padding-left: 0px;
	}
	.login-section h2{
		font-size: 1.5rem;
	}
	.login-section input{
		width: 100%;
	}
	.login-section .btn a{
		width: 100%;
	}

	.f-link{
		margin-top: 400px;
		text-align: left;
	}
	.login-section{
	border-top: 3px solid #2E6F40;
	padding-top: 15px;
}
}

/* Media query for smaller screens */


/* Super admin dashboard  */
.sidebar{
	height: 100%;
	width: 300px;
	background-color: #2E6F40;
	margin-top: 0px;
	padding-top: 12px;
	position: fixed;
}

.logo{
	background-color: #ffffff;
	margin-bottom: 12px;
}
/* navbar styling */
.nav {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.nav .nav-item{
	width: 100%;
	text-align: left;
	padding: 5px 0;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
	list-style: none;
}

.nav .nav-item .nav-link{
	color: #fff;
	text-decoration: none;
}

.nav .nav-item .nav-link:hover{
	background-color: #fff;
	color: #EFBF04;
	border-radius: 30px;
	padding: 10px 100px;
	padding-left: 150px;
	transition: background-color 0.5s ease-in-out;
}
.active{
	color: #EFBF04 !important;
	background-color: #fff;
	border-radius: 30px 0px 0px 30px;
	padding: 10px 100px;
	padding-left: 150px !important;
}

.nav-footer .nav-f{
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.nav-footer .nav-f .nav-link a{
	text-decoration: none;
	color: #fff;
	border: 3px solid white;
	border-radius: 30px;
	transition: background-color 0.8s ease-in-out;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #EFBF04;
}

.nav-footer .nav-f .nav-link a:hover{
	background-color: #fff;
	border-bottom: 3px solid white;
	padding: 8px;
	color: #EFBF04;
	border-radius: 30px;
	transition: ease-in-out;
	font-weight: 600;
}

/* Media Query section  */


/* Dashboard styling */
.dashboard-layout{
	height: 100vh;
	/* width: calc(100% - 500px); */
	margin-left: 290px;
	margin-top: 0px;
}

.dashboard-head h1{
	color: #2E6F40;
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
	margin-top: 20px;
}
.notification{
	display: flex;
	justify-content: left;
	margin-left: 60%;
	
}
.notification i{
	font-size: 2rem;
	margin: 20px;
	color: #2E6F40;
	cursor: pointer;
}

.notification i:hover{
	color: #EFBF04;
}
.seachbar{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.seachbar input{
	width: 500px;
	height: 50px;
	border-radius: 20px;
	border: 2px solid #2E6F40;
	padding-left: 20px;
	font-size: 1rem;
}

.seachbar input:focus{
	outline: none;
	border-color: #EFBF04;
}

.seachbar button{
	height: 50px;
	width: 100px;
	border-radius: 20px;
	border: none;
	background-color: #2E6F40;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	margin-left: 10px;
}

.seachbar button:hover{
	background-color: #EFBF04;
	color: #2E6F40;
	transition: .5s ease-in-out;
}

.quickbtns{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-left: 0px;
}

.quickbtns .btn{
	background-color: #2E6F40;
	color: #fff;
	border-radius: 20px;
	padding: 10px 20px;
	margin: 0 10px;
	font-weight: 600;
	cursor: pointer;
	width: 250px;
	height: 50px;
}
.quickbtns .btn a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}

.quickbtns .btn:hover{
	background-color: #EFBF04;
	color: #2E6F40;
	transition: .5s ease-in-out;
	text-decoration: none;
}

/* Monthly Bar Chart */

.monthly-bar-chart .card{
	margin-top: -20px;
	margin-left: 30px;
	width: 96%;
	height: 300px;
	background-color: #fff;
	border-radius: 20px;
	
}
/* .monthly-bar-chart h2{
	color: #2E6F40;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
} */

#monthlyBarChart{
	width: 95% !important;
	height: 270px !important;
	background-color: #fff;
	cursor: pointer;

}

/* The account styling */
.head-text h1{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
 font-weight: 800;
 color: #2E6F40;
 font-size: 40px;
}

.account-section{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
}
.account{
	display: flex;
	margin-left: 80px;
	padding: 40px;
}
.user-type-1{
 width: 300px;
 height: 300px;
 background-color: #EFBF04;
 color: #fff;
 border-radius: 80px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-right: 20px;
 cursor: pointer;
 text-transform: uppercase;
 margin-right: 40px;
}
.user-type-1 i{
	font-size: 150px;
	color: #fff;
	padding: 50px 50px 0px 50px;
}


.user-type-2{
 width: 300px;
 height: 300px;
 background-color: #2E6F40;
 color: #fff;
 border-radius: 80px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 text-transform: uppercase;
}
.user-type-2 i{
	font-size: 150px;
	color: #fff;
	padding: 50px 50px 0px 50px;
}
.account h1{
	padding-top: 30px;
}

/* Create Admin Styling  */

.create-user-img{
	margin-top: 180px;
}
@media (max-width: 991px){
	.create-user-img{
		margin-top: -80px;
	}
}

.form-section input{
	padding: 18px;
	margin: 12px;
	border-radius: 30px;
}
.form-section input:focus{
	outline-style: none;
	outline: none;
	border: 2px solid #2E6F40 ;
	box-shadow: none;
}

.form-section textarea{
	padding: 30px;
	border-radius: 30px;
	margin-left: 20px;
	width: 740px,;
}
@media (max-width: 780px ){
	.form-section textarea{
		width: auto;
	}
}
.form-section textarea:focus{
	outline-style: none;
	outline: none;
	border: 2px solid #2E6F40 ;
	box-shadow: none;
}

.form-section .check-box:focus{
	color: #2E6F40;
}

.form-section .agree .check-box{
	width: 30px;
	height: 30px;
}
.form-section .agree p{
	margin-top: 15px;
	font-weight: bold;
}

.form-section button{
	padding: 10px 50px 10px 50px;
	border-radius: 30px;
}
.create-form h1{
	color: #2E6F40;
	font-weight: 700;
}

/* Help Section  */

.help-section{
	height: 100vh;
}

.help-section .container h1, h3{
	color: #2E6F40;
	font-weight: 700;
}

/* End of the Help Section */

/* foget Password */

.forget-password{
	height: 100vh;
	background-color: #f0f0f0;
}

.forget-password .forget-header h1{
	color: #2E6F40;
	font-weight: 700;
	text-align: center;	
}